@page "/"

<PageTitle>Registro</PageTitle>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<div class="card-footer">
    <h1>Mi Registro</h1>
    <hr>

    <div class="form-r ow align-items-center">
        <div class="col">
            <div class="form-group">
                <label> Registrar</label>
                <div class="input-group">
                    <form action="" class="search">



                        <label for="submit" class="submit"></label>


                        <a href="" class="icon"></a>
                        <input type="search" name="Search" id="search" placeholder="Buscar Id">
                        
                        <button type="button" class="bi bi-search"></button>

                        <hr>
                        <h5>Descripcion</h5>
                        <input type="descripcion" name="descripcion" id="descripcion" placeholder="Descripcion">
                    </form>

                    <div class="input-group-append">

                    </Div>
                </Div>
            </Div>
        </Div>
    </Div>

    <hr>




    <div class="form-group text-center" display: inline-block>
        <button type="button" class="btn btn-lg btn-primary bi bi-file-earmark-plus"> Nuevo</button>
        <button type="submit" class="btn btn-lg btn-success bi bi-file-earmark"> Guardar</button>
        <button type="button" class="btn btn-lg btn-danger bi bi-trash"> Eliminar</button>

    </Div>
</Div>